<div class="row">
    <div class="col-md-6 login-container">
      <h2 style="margin: auto">{{ 'LOGIN.LOGIN' | translate}} </h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">{{ 'LOGIN.USERNAME' | translate}}</label>
          <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
          <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>
        </div>
        <div class="form-group">
          <label for="pwd">{{ 'LOGIN.PASSWORD' | translate}}</label>
          <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
          <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>
        </div>
        <button class="btn btn-success" [disabled]="loginForm.invalid">{{'LOGIN.LOGIN' | translate}} </button>
        <button class="btn btn-danger" (click)="forgotPassword()" style="margin-left: 20px;"> {{ 'LOGIN.FORGOTPASSWORD' | translate }}</button>
        <div *ngIf="invalidLogin" class="error">
          <br>
          <br>
          <h2>Please Enter Valid Credentails</h2>
        </div>
      </form>
    </div>
  </div>
